<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
   <connectionStrings>
       <add name="DefaultConnection" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=DocumentTest4;Integrated Security=True"
       providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <!--
    PersistingType:
    1 - sql tables
    2 - txt files
    3 - serialization
    -->
    <add key="PersistingType" value="3"/>
    <add key="PersonsSerializationFileName" value="persons.dat"/>
    <add key="CompaniesSerializationFileName" value="companies.dat"/>
    <add key="ChanceriesSerializationFileName" value="chanceries.dat"/>
    <add key="DirectorsSerializationFileName" value="directors.dat"/>
    <add key="SecretariesSerializationFileName" value="secretaries.dat"/>
    <add key="MainSecretariesSerializationFileName" value="mainSecretaries.dat"/>
    <add key="DocumentsSerializationFileName" value="documents.dat"/>
    <add key="CompanyTypesSerializationFileName" value="companyTypes.dat"/>
    <add key="DocumentTypesSerializationFileName" value="documentTypes.dat"/>
    <add key="MarkersSerializationFileName" value="markers.dat"/>
  </appSettings>
</configuration>